/* src/App.css */
.App {
  display: flex;
  height: 100vh;
}

.main-app {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh; /* Ensure consistent height */
}
