@font-face {
  font-family: 'Uni Sans';
  src: url('./fonts/UniSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #313338;
  font-family: 'Uni Sans', sans-serif;
}